<!-- guide:admin-guide section:set-up-benefit-verification pages:977-977 -->
# Set Up Benefit Verification



transportation to the manufacturing lab. This means that Apheresis has to be repeated. The clinician
immediately notifies the gene therapy coordinator.




As the gene therapy coordinator, you log into the Advanced Therapy Management app to reschedule the
appointments, with Apheresis as the starting point. After you reschedule the appointments, the
Apheresis clinician sees that the patient’s therapy orchestration has been reset to Apheresis in the Work
Procedure Step Progression component. Each task is generated again and assigned to the relevant user.



Set Up Benefit Verification

Integrate benefit verification into the end-to-end patient access workflow to help caregivers and patients
reduce the time and effort it takes to find out what coverage is available under each patient's health
benefits.

To learn more about Benefit Verification, see Health Cloud Help: Benefit Verification.



Set Up Care Programs

Maximize the impact of your care programs with enrollment and management tools to help drive
adherence and improve outcomes. Care programs can cover services such as patient outreach, access to
medications, access to care, financial assistance, or remote monitoring.


**REQUIRED EDITIONS**



Available in: Lightning Experience

Available in: Enterprise and Unlimited Editions with Health Cloud or AFLS


Use the Life Sciences Program Management data model to define programs and manage relationships
and activities within them. Then configure an Experience Cloud component that you can deploy to show
which programs a person is enrolled in.


## Map External Program Enrollment Fields to Your Org

To use the Care Program Enrollments API to create program enrollment records, create mappings from
source system fields to Salesforce target entities and attributes.
Manage Care Program Enrollment Flows
Give your users a streamlined, guided care program enrollment process. With Flow Builder, you can
clone and configure the Program Enrollment flow and take advantage of the rich care program
management data model.
Create an Experience Cloud Site and Set Up Member Access
